{
  "trailingComma": "all",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
