@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./fonts.css);

/* HTML 태그 등 전역 스타일 */
@layer base {
  /* 색상 변수 */
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  /* 다크모드 색상 변수 */
  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

  /* 기본 스타일 */
  html,
  body,
  #__next {
    width: 100vw;
    min-height: 100vh;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

/* 재사용할 구조적 스타일링 */
@layer components {
  /* 제목 스타일 */
  .title-32-b {
    @apply text-32 font-bold leading-[1.2];
  }

  .title-28-b {
    @apply text-28 font-bold leading-[1.2];
  }

  .title-24-b {
    @apply text-24 font-bold leading-[1.2];
  }

  .title-24-s {
    @apply text-24 font-semibold leading-[1.2];
  }

  .title-20-b {
    @apply text-20 font-bold leading-[1.2];
  }

  .title-20-s {
    @apply text-20 font-semibold leading-[1.2];
  }

  .title-20-m {
    @apply text-20 font-medium leading-[1.2];
  }

  .title-20-r {
    @apply text-20 font-normal leading-[1.2];
  }

  .title-18-b {
    @apply text-18 font-bold leading-[1.2];
  }

  .title-18-s {
    @apply text-18 font-semibold leading-[1.2];
  }

  .title-18-m {
    @apply text-18 font-medium leading-[1.2];
  }

  .title-18-r {
    @apply text-18 font-normal leading-[1.2];
  }

  /* 본문 스타일 */
  .body-16-b {
    @apply text-16 font-bold leading-[1.35];
  }

  .body-16-s {
    @apply text-16 font-semibold leading-[1.35];
  }

  .body-16-m {
    @apply text-16 font-medium leading-[1.35];
  }

  .body-16-r {
    @apply text-16 font-normal leading-[1.35];
  }

  .body-14-s {
    @apply text-14 font-semibold leading-[1.35];
  }

  .body-14-m {
    @apply text-14 font-medium leading-[1.35];
  }

  .body-14-r {
    @apply text-14 font-normal leading-[1.35];
  }

  /* 캡션 스타일 */
  .caption-40-b {
    @apply text-40 font-bold leading-[1];
  }

  .caption-24-b {
    @apply text-24 font-bold leading-[1];
  }

  .caption-16-b {
    @apply text-16 font-bold leading-[1];
  }

  .caption-14-b {
    @apply text-14 font-bold leading-[1];
  }

  .caption-12-s {
    @apply text-12 font-semibold leading-[1];
  }

  .caption-10-s {
    @apply text-10 font-semibold leading-[1];
  }

  .caption-10-r {
    @apply text-10 font-normal leading-[1];
  }

  .caption-14-m {
    @apply text-14 font-medium leading-[1];
  }

  .caption-12-m {
    @apply text-12 font-medium leading-[1];
  }

  .caption-16-r {
    @apply text-16 font-normal leading-[1];
  }

  .caption-14-r {
    @apply text-14 font-normal leading-[1];
  }

  .caption-12-r {
    @apply text-12 font-normal leading-[1];
  }
}

/* 유틸리티 클래스 */
@layer utilities {
}
